ScriptsEnvironmenta/
ScriptsEnvironmentl/
ScriptsEnvironment/repository
/ScriptsEnvironment/.git
/ScriptsEnvironment/.init
/ScriptsEnvironment/scripts/__pycache__
/ScriptsEnvironment/scripts/__index__
/modules/__pycache__
/modules/submodules/__pycache__
OVALRepo/
.vscode/
.idea/